:root {
  --clr-body: #333;
  --clr-blue-dark: #100e1d;
  --clr-white: #fff;
  --clr-primary: #750025;
  --clr-gray2: #4f4f4f;
  --clr-gray3: #828282;
  --clr-gray4: #bdbdbd;
  --clr-gray5: #e0e0e0;
  --clr-gray6: #F2F2F2;
  --clr-orange: #eb5757;
  --clr-blue: #2d9cdb;
  --clr-green: #27ae60;
  --clr-red: #eb5757;
  --clr-yellow: #caca43;
}
